.login-block {
	background: rgba(0,0,0, .3);
	border-radius: 5px;
	width: 500px;
	margin: 70px auto;
	padding: 30px 70px;
}
.login-block .login-form-button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 75%;
}
